.js .nav {
		display:none;
}	
.js #rspnavigation {
	display:block;
}
#rspnavigation ul{
    margin: 0;
    padding: 0;
}
#header {
    text-align: center;
}
#trust {
    text-align: center;
}
#testimonial .slider_prev {
    display: none;
}
#testimonial .slider_next {
    display: none;
}
#footer {
    background-size: cover;
}
#copy p {
    text-align: center;
}
.social_nav {
    text-align: center;
}
#acc_section.mob_responsive {
    padding: 0 !important;
}
.mob_responsive h1 {
    font-size: 18px;
}
.mob_responsive .col:first-child {
    margin-left: 1%;
}
.mob_responsive .span_8_of_12, .mob_responsive .span_4_of_12 {
    width: 49.2%;
}
.metro-tile, .share_drop_div .metro-tile {
    width: auto;
    float: none;
}
.metro-tile img, .share_drop_div .metro-tile img {
    max-width: none;
    width: 100%;
}